<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'smrm/style.css' %}" />

    <title>{% block title %}SmartRm{% endblock %}</title>
</head>
<body>
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">SmartRm</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="{% url 'smrm:trash' %}">Trashes</a></li>
          <li><a href="{% url 'smrm:task' %}">Tasks</a></li>
          <li><a href="{% url 'smrm:newtask' %}">New Task</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
        <h1>{% block heading %}{% endblock %}</h1>
    </div>

    <div class="container">
        {% block body %}

        {% endblock %}
    </div>


    <footer>
    </footer>
</body>
</html>