{% extends 'smrm/base.html' %}
{% block title %}
    {{ trash.name }}
{% endblock %}


{% block body %}
        <h1>{{ trash.name }}</h1>
        <p>{{trash.path}}</p>
        <p>{{trash.get_size}} Mbs / {{ trash.max_size }} Mbs</p>
        <p>{{trash.get_files_count}} files</p>
        <p>restore policy: {{ trash.get_restore_policy_display }}</p>
        <p>autoclean: {{ trash.autoclean }}</p>
        {% if trash.autoclean %}
            <p>remove period:
                {% if trash.rem_period > 0 %}{{ trash.rem_period }} days
                {% else %}none{% endif %} </p>
            <p>remove size:
                {% if trash.rem_size > 0 %}{{ trash.rem_size }} Mbs
                {% else %}none{% endif %} </p>
        {% endif %}
        <table class="table">
            <thead>
            <tr><th>Files</th></tr>
            </thead>
            <tbody>
             {% for f in trash.get_files %}
                    <tr>
                        <td>{{f.name}}</td>
                        <td>{{ f.type }}</td>
                        <td>
                            <button class="btn btn-default btn-sm" type="submit" form="form" name="del" value="{{ f.name }}">delete</button>
                        </td>
                        <td>
                            <button class="btn btn-default btn-sm" type="submit" form="form" name="rest" value="{{ f.name }}">restore</button>
                        </td>
                    </tr>

            {% endfor %}
            </tbody>
        </table>

        <button class="btn btn-default btn-md" type="submit" form="form" name="clean">clean trash</button>
        <button class="btn btn-default btn-md" type="submit" form="form" name="deltrash">delete trash</button>

        <form method="post" id="form">
            {% csrf_token %}
        </form>
{% endblock %}