{% extends 'smrm/base.html' %}
{% block title %}
    Task {{ task.id }}
{% endblock %}


{% block body %}
    <h1>{{ task.description }}</h1>
    <p>trash: {{ task.trash.path }}</p>
    <p>status:
        <span style="color: {{ task.get_status_color }}">{{ task.get_status_display }}</span>
    </p>
    <p>processes number: {{ task.proc }}</p>
    {%  if task.regex %}
    <p>regex: {{ task.regex }}</p>
    {% endif %}
    <table class="table">
            <thead>
            <tr><th>Files</th></tr>
            </thead>
            <tbody>
             {% for f in task.get_files %}
                    <tr>
                        <td>{{f.name}}</td>
                        <td>{{ f.result }}</td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>

    <form method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-default btn-md " name="run" value="run" {{ task.isdisabled }} >
        <input type="submit" class="btn btn-default btn-md" name="delete" value="delete task">
    </form>
{% endblock %}