{% extends 'smrm/base.html' %}

{% block title %}
    Trashes
{% endblock %}

{% block heading %}
    Trashes
{% endblock %}

{% block body %}
            {% if trash_list %}
                <div class="list-group">
                {% for trash in trash_list %}
                    <a href="{% url 'smrm:detailtrash' trash.id %}" class="list-group-item">
                        <h4 class="list-group-item-heading">{{ trash.name }} </h4>
                        <p class="list-group-item-text">{{ trash.path }} </p>
                    </a>
                {% endfor %}
                </div>
            {% else %}
                <p>No trashes are available.</p>
            {% endif %}
        <a href="{% url 'smrm:newtrash' %}" class="btn btn-default btn-lg">Add</a>
{% endblock %}