{% extends 'smrm/base.html' %}

{% block title %}
    Tasks
{% endblock %}

{% block heading %}
    Tasks
{% endblock %}

{% block body %}
           {% if task_list %}
                <div class="list-group">
                {% for task in task_list %}
                    <a href="{% url 'smrm:detailtask' task.id %}" class="list-group-item">
                    <div class="container">
                        <div class="row">
                        <div class="col-sm-6">
                        <h4 class="list-group-item-heading">Task {{ task.id }} </h4>
                            <p class="list-group-item-heading">to: {{ task.trash.name }} </p>
                        <p class="list-group-item-heading">{{ task.description }} </p>

                        </div>
                        <div class="col-sm-6">
                            <p> {{ task.files_num }} file{{ task.files_num|pluralize:'s' }}</p>
                            <p class="list-group-item-text">status:
                                <span style="color: {{ task.get_status_color }}">{{ task.get_status_display }}</span>
                            </p>
                        </div>
                        </div>
                    </div>
                    </a>
                {% endfor %}
                </div>
            {% else %}
                <p>No tasks are available.</p>
            {% endif %}
        <a href="{% url 'smrm:newtask' %}" class="btn btn-default btn-lg">Add</a>
{% endblock %}