{% extends 'smrm/base.html' %}
{% block title %}
    New task
{% endblock %}




{% block heading %}
    New task
{% endblock %}

{% block body %}
    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}
    <form id="form" class="form-horizontal" method="post" novalidate>
        <table>
            {{ form.as_table }}
        </table>
        <label for="tree">Files:</label>
        <div id="tree">
            {{ form.maketree|safe }}
        </div>
        {% csrf_token %}
        <input id="mbut" type="submit"  value="Create">
        {% load static %}
        <script type="text/javascript" src="{% static "smrm/tree.js" %}"></script>
    </form>

{% endblock %}
