{% extends 'smrm/base.html' %}

    {% block title %}
        New trash
    {% endblock %}

    {% block heading %}
        New trash
    {% endblock %}

    {% block body %}
    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post" novalidate>
        <table>
            {{ form.as_table }}
        </table>
        {% csrf_token %}
        <input type="submit" value="Create">
    </form>
    {% endblock %}