html {
    height: 100%;
}
body {
    min-height: 100%;
    position: relative;
    padding-bottom: 100px;
}

footer {
    background-color: rgb(30, 30, 30 );
    color: #ffffff;
    padding: 28px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
nav{
     background-color: rgb(30, 30, 30 );
}
nav a{
    color: white
}